/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
  body {
    padding-top: 50px;
  }

  body h1 {
    color: white;
  }

  .user {
    background-image: linear-gradient(to top, #30cfd0 0%, #333867 100%);
    min-height: 1000px;
  }

  .provider {
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-color: #603030;
    min-height: 1000px;
  }

  .default {
    background-color: #306030;
    min-height: 1000px;
  }

  body > br {
    color: white;
  }

  label {
    color: white;
  }

  .buttonholder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .pagecontent {
    padding-top: 20px;
    color: black;
    max-width: 1300px;
    margin: auto;
  }


  .timeholder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly ;
  }

  .button-panel {
    width: 18%;
    min-width: 100px;
  }

  .buttonholder {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    justify-content: space-around;
  }

  .timeholder button {
    min-width: 75px;
  }

  .result-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
  }

  .provider-results {
    width: 47%;
    color: white;
  }

  .centre-results {
    width: 47%;
    color: white;
  }

  .provider-results .panel-body {
    color: black;
  }

  .centre-results .panel-body {
    color: black;
  }

  .filter-wrapper {
    color: white;
    display: flex;
    flex-direction: row;
    align-content: center;
  }

  .filter-wrapper > p {
    font-weight: bold;
  }

  .filter {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar input {
    color: black;
  }    

  #navbarform {
    padding-top: 7px;
    padding-right: 10px;
    margin: auto;
  }

  #brand-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    align-self: center;
  }

  #brandtitle {
    padding-top: 15px;
  }

  #brandlogo {
    margin-top: -5px;
  }

  #brand-container > div > p {
    color: rgb(224, 137, 166);
    font-weight: bold;
  }

  body, html {
    cursor: url("img/happy.png"), auto;
  }

  .jumbotron label {
    color: black;
  }

  .image-holder {
    display: flex;
    align-content: center;
    flex-direction: row;
  }


img  {
    -webkit-animation:spin 0.4s linear infinite;
    -moz-animation:spin 0.4s linear infinite;
    animation:spin 0.4s linear infinite;
}



.button {
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 200px, 0); }
}

/* Prefix Support */
.navbar p:hover {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  to   { -webkit-transform: translate3d(0, 200px, 0); transform: translate3d(0, 200px, 0); }
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }