{% extends "base.html" %}
{% set page="search" %}

{% block pagecontent %}
<form method="POST">
    <div class="form-group">
        <input type="text" name='searchterm' value="{{searchterm}}">
        <input class="btn btn-primary" type="submit"><br>
    </div>
</form>
<div class="result-container">
    <div class="provider-results">
        {% if providers %}
        <h1>Providers</h1>
        <div class="form-group filter-wrapper">
            <p>Filter Results by Specialty:</p>
            <div class="filter">
                <label for="filter_gp">GP</label>
                <input checked type='checkbox' id='filter_gp'>
            </div>
            <div class="filter">
                <label for="filter_physio">Physiotherapist</label>
                <input checked type='checkbox' id='filter_physio'>
            </div>
            <div class="filter">
                <label for="filter_path">Pathologist</label>
                <input checked type='checkbox' id='filter_path'>
            </div>
            <div class="filter">
                <label for="filter_pharm">Pharmacist</label>
                <input checked type='checkbox' id='filter_pharm'>
            </div>
            <div class="filter">
                <label for="filter_specialist">Specialist</label>
                <input checked type='checkbox' id='filter_specialist'>
            </div>
        </div>
        {% endif %}
        {% for provider in providers %}
        <div class={{provider.profession}}>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">{{provider.firstname}} {{provider.lastname}}</h1>
                </div>
                <div class="panel-body">
                    <p>Email: {{provider.username}}</p>
                    <p>Phone: {{provider.phone}}</p>
                    <p>Profession: {{provider.profession}}</p>
                    <form action="{{url_for('provider_profile')}}" method="POST">
                        <button class="btn btn-danger" type="submit" name="provider" id="prov" value="{{provider.username}}">Contact
                            {{provider.firstname}} {{provider.lastname}}</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="centre-results">
        {% if centres %}
        <h1>Centres</h1>
        {% endif %}
        {% for centre in centres %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">{{centre.centrename}}</h1>
            </div>
            <div class="panel-body">
                <p>Location: {{centre.suburb}}</p>
                <p>Phone: {{centre.phone}}</p>
                <form action="{{url_for('centre')}}" method="POST">
                    <button class="btn btn-danger" type="submit" name="link" id="prov" value="{{centre.code}}">Contact
                        {{centre.centrename}} </button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename = 'jquery.js')}}">\x3C/script>')</script>
<script type="text/javascript" src="{{ url_for('static', filename='search.js') }}"></script>
{% endblock %}