{% extends 'base.html' %}
{% set page="login" %}

{% block pagecontent %}
<div class="jumbotron" id="welcomer">
  <h1>Welcome to your Health Access Management System</h1>
  <form method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input name="username" id="username" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" required>
    </div>
    <div class="form-group">
      <button type="submit" value="login" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
{% endblock %}