{% extends 'base.html' %}
{% set page="register" %}

{% block pagecontent %}
<form method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input name="username" id="username" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" required>
  </div>
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input name="firstname" id="firstname" class="form-control">
  </div>
  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input name="lastname" id="lastname" class="form-control">
  </div>
  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input name="phone" id="phone" class="form-control">
  </div>
  <div class="form-group">
    <button type="submit" value="Register" class="btn btn-primary">Register</button>
  </div> 
  
</form>
{% endblock %}