{%extends "base.html"%}
{% set page="Booking History" %}
{% block pagecontent %}
{% for val in vals %}
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Appointment on {{val[0].date}}</h3>
    </div>
    <div class="panel-body">
        <p>Patient: {{val[0].userId}}</p>
        <p>Healthcare Provider: {{val[0].providerId}}</p>
        <p>Centre: {{val[0].centreId}}</p>
        <p>Date: {{val[0].date}}</p>
        <p>Time: {{val[0].time}}</p>
        <p>Messsage: {{val[0].msg}}</p>
    </div>
    {% if type == "patient" %}
    <div style="padding: 10px">
        <form action="/centre" method="POST">
            <button class="btn btn-primary" type="submit" name='link' value="{{(val[1])[1]}}">{{val[0].centreId}}</button>
        </form>
    </div>
    <div style="padding: 10px">
        <form action="{{url_for('provider_profile')}}" method="POST">
            <button class="btn btn-primary" type="submit" name='provider' value="{{val[0].providerId}}">{{val[0].providerId}}</button>
        </form>
    </div>
    {% else %}
    <div style="padding: 10px">
        <form action="/profile" method="POST">
            <button class="btn btn-primary" type="submit" name="patient" value="{{val[0].userId}}">{{val[0].userId}}</button>
        </form>
    </div>
    {%endif%}
    {% if type == "provider" %}
    <div style="padding: 10px">
        <form action="/notes" method="POST">
            <button class="btn btn-primary" type="submit" name="bookingID" value="{{val[0].id}}">Edit Notes and
                Prescriptions</button>
        </form>
    </div>
    {% endif %}
</div> {% endfor %} {% endblock
%}