{% extends "profile/base_profile.html" %}
{% set page="centre_profile" %}
{% block pagecontent %}
{% for infoitem in info %}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{infoitem[0].centrename}}</h3>
    </div>

    <div class="panel-body">


        <h4>{{infoitem[0].centretype}}</h4>
        <p>Suburb: {{infoitem[0].suburb}}</p>
        <p>Phone: {{infoitem[0].phone}}</p>
        <p>Rating: {{infoitem[0].current_rating}}</p>

        <br>
        <p><b>Leave a Rating</b></p>

        <form action="{{url_for('handle_rating')}}" method="POST">
            <input type="hidden" name="centrename" value="{{infoitem[0].centrename}}">
            <div class="btn-group">
                <button class="btn btn-success" name="rating" type="submit" value="1">1</button>
                <button class="btn btn-success" name="rating" type="submit" value="2">2</button>
                <button class="btn btn-success" name="rating" type="submit" value="3">3</button>
                <button class="btn btn-success" name="rating" type="submit" value="4">4</button>
                <button class="btn btn-success" name="rating" type="submit" value="5">5</button>
            </div>
        </form>

        <br>
        <p><b>Workers at this centre</b></p>
        <form action="{{url_for('provider_profile')}}" method="POST">
            {% for worker in infoitem[1] %}
            <button class="btn btn-danger" type="submit" name="provider" id="prov" value={{worker.provider}}>{{worker.provider}}</button>
            {% endfor %}
        </form>
    </div>
</div>
{% endfor %}
{% endblock %}