{% extends "profile/base_profile.html" %}
{% set page="user_profile" %}
{% block pagecontent %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">User Information</h3>
    </div>
    <div class="panel-body">
        <p>Given name(s): {{user.firstname}}</p>
        <p>Family name: {{user.lastname}}</p>
        <p>Email: {{user.username}}</p>
        <p>Phone: {{user.phone}}</p>
    </div>
</div>

{% endblock %}