{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid 
{% if isProvider %}
provider
{% elif isPatient %}
user
{% else %}
default
{% endif %}
">

  <!-- show flashed messages -->
  {% for message, category in get_flashed_messages() %}
  <div class="alert {% if category is equalto 'error' %} alert-danger {% elif category is equalto 'success' %} alert-success {% elif category is equalto 'warning' %} alert-warning {% endif %} ">
    {{ message }}
  </div>
  {% endfor %}
  <div class="pagecontent">
    {% block pagecontent %} {% endblock %}
  </div>
</div>
{% endblock %}