{% extends "base.html" %}
{% set page="home" %}

{% block pagecontent %}
<div class="jumbotron">
    <h1>Welcome to HAMS</h1>
    <p>Welcome to the Health Access Management System. From here you will have lots of functionality (to be implemented I'm sure)</p>
    <img class="rounded" src=/static/img/hospital_flat.jpg>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
{% endblock %}