<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" id="brand-container">
      <div id="brandlogo">
        <a class="navbar-brand" href="#">
          <img id="HAM" src="{{url_for('.static', filename='img/happy_ham.png')}}" width="30" height="30" class="d-inline-block align-top"
            alt="">
        </a>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if isPatient or isProvider %}
        <li class={% if page is equalto "user_profile" %}active{% endif %}><a href="profile"> User Profile </a></li>
        <li class={% if page is equalto "provider_profile" %}active{% endif %}><a href="provider">Provider Profile</a></li>
        <li class={% if page is equalto "centre_profile" %}active{% endif %}><a href="centre">Centres</a></li>
        <li class={% if page is equalto "Booking History" %}active{% endif %}><a href="history">History</a></li>
        {% endif %}
        {% if isPatient %}
        <li class={% if page is equalto "booking" %}active{%endif%}><a href="make_booking">Make a Booking</a></li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if isProvider or isPatient %}
        <li><a href="logout"> Logout </a></li>
        <li>
          <form id="navbarform" action="{{url_for('search')}}" class="form-inline" method="POST">
            <div class="form-group">
              <input type="text" name='searchterm' value="{{searchterm}}">
              <input class="btn btn-primary" type="submit"><br>
            </div>
          </form>
        </li>
        {% else %}
        <li class={% if page is equalto "register" %}active{% endif %}><a href="register"> Register </a></li>
        <li class={% if page is equalto "login" %}active{% endif %}><a href="login"> Login </a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>