{% extends 'base.html' %}
{% set page="setup" %}
{% block pagecontent %}
{% for user in users %}

<h1>{{user.firstname}} {{user.lastname}}</h1>
<p>Phone: {{user.phone}}</p>
<p>ID: {{user.id}}</p>
<p>Username: {{user.username}}</p>

{% endfor %}
{% endblock %}