{%extends "base.html"%}
{% block pagecontent %}

<ul class="nav nav-tabs">
        <li role="navigation" class="active"><a href="{{url_for('notes')}}">Notes</a></li>
        <li role="navigation"><a href="{{url_for('prescriptions')}}">Prescriptions</a></li>
</ul>
{% endblock %}