{%extends "history/history.html"%}
{% set page="Notes" %}
{% block pagecontent %}

<form action="/notes" method="POST">
    <input hidden=true name="bookingID" value="{{bookingID}}" />
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <button type="submit" class="btn btn-default">Notes</button>


</form>

<form action="/prescriptions" method="POST">
    <input hidden=true name="bookingID" value="{{bookingID}}" />
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <button type="submit" class="btn btn-default">Prescriptions</button>
    </div>
</form>

<form action="/storednotes" method="POST">
    <input hidden=true name="bookingID" value="{{bookingID}}" />
    <br /><br />
    <div>
        <font color="yellow">Your Patient Notes:</font>
        <br /><textarea name="notes" style="width:1000px;height:400px;">{% for note in editNotes %}{% if note != None %}{{note}}{% endif %}{% endfor %}</textarea>
    </div>
    <br />
    <div>
        <font color="yellow">Other Providers' Patient Notes:</font>
        <ul class="list-group">
            {% for note in viewNotes %}
            {% if note != None %}<li class="list-group-item">{{note}}</li>{% endif %}
            {% endfor %}
        </ul>
    </div>
    <br />
    <button type="submit">Accept changes</button>
    <br>
    <br>
    {% for provider in specialists%}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">{{provider.firstname}} {{provider.lastname}}</h1>
        </div>
        <div class="panel-body">
            <p>Email: {{provider.username}}</p>
            <p>Phone: {{provider.phone}}</p>
            <p>Profession: {{provider.expertise}}</p>
            <p>Provider Number: {{provider.providerNO}}</p>
            <p><b>Refer to Patient</b></p>
            <input unchecked type='checkbox' name="Refer" value={{provider.username}}>
        </div>
    </div>
    {% endfor %}
    <input type='hidden' name="Refer" value="0">
</form>

{% endblock %}