{%extends "history/history.html"%}
{% set page="Prescriptions" %}
{% block pagecontent %}


<form action="/notes" method="POST">
    <input hidden=true name="bookingID" value="{{bookingID}}" />
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <button type="submit" class="btn btn-default">Notes</button>
</form>

<form action="/prescriptions" method="POST">
    <input hidden=true name="bookingID" value="{{bookingID}}" />
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <button type="submit" class="btn btn-default">Prescriptions</button>
    </div>
</form>


<form action="/storedprescriptions" method="POST">
    <input hidden=true name="bookingID" value="{{bookingID}}" />
    <br /><br />
    <div>
        <font color="yellow">Medicine Name:</font>
        <br /><input name="medicine">
        <br /><br />
        <font color="yellow">Dosage(no. of pills):</font>
        <br /><input name="dosage">
        <br /><br />
        <font color="yellow">Frequency (taken how many times a day):</font>
        <br /><input name="frequency">
        <br /><br />
        <font color="yellow">Duration (how many days):</font>
        <br /><input name="days">
        <br /><br />
        <font color="yellow">Extra information:</font>
        <br /><textarea name="info" style="width:1000px;height:200px;" placeholder="Optional"></textarea>
    </div>
    <br />
    <div>
        <font color="yellow">Current Prescriptions:</font>
        <br /><textarea style="width:1000px;height:400px;" disabled>{% for pres in prescriptions %}{{pres}}
{% endfor %}</textarea>
    </div>
    <br />
    <button type="submit">Add Prescription</button>

</form>

{% endblock %}