{% extends 'base.html' %}
{% set page='booking' %}

{% block pagecontent %}
<h1>Make a booking with {{provider.firstname}} {{provider.lastname}}</h1>
<p hidden id="provider">{{provider.username}}</p>
<form action="_store_booking" method="POST">
    <input hidden name="chosenprovider" value="{{provider.username}}" />
    <div class="form-group">
        <label for="choosecentre">Choose a Centre</label>
        <select multiple name="chosencentre" class="form-control" id="choosecentre">
            {% for centre in centres %}
            <option value="{{centre.centrename}}">{{centre.centrename}}: ({{centre.suburb}})</b></option>
            {% endfor %}
        </select>
    </div>
    <label for="extrainformation">Optional Message: Please enter any notes you'd like your Healthcare Provider to see
        here.</label>
    <textarea id="extrainformation" name="info" style="width:1000px;height:200px;"></textarea>
    <div class="timeholder">
        {% for i in range(5) %}
        <div class="panel {% if not i %} panel-primary {% else %} panel-default {% endif %} button-panel">
            <div class="panel-heading" style="text-align: center">
                {% if not i %}
                <h3>Today</h3>
                {% else %}
                <h3>{{i}} days from now</h3>
                {% endif %}
            </div>
            <div class="panel-body">
                <div class="buttonholder" id="timebuttons{{i}}">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename = 'jquery.js')}}">\x3C/script>')</script>
<script type="text/javascript" src="{{ url_for('static', filename='bookingformprovider.js') }}"></script>
{% endblock %}